#body {
    background-color:cornsilk;


}

header {
    
    font: 30px;
    text-align: center;
    height:150px;
    width:80%;
    margin:0 auto;
    font-style: oblique;

}
h3{
    margin: 10px;
}

#underscores {
    
    font-size: 90px;
    text-align: center;
    height:150px;
    width:80%;
    margin:0 auto;
    font-style: oblique;
}

#Guessed {
        
        font-size: 20px;
        text-align: center;
        height:150px;
        width:80%;
        margin:0 auto;
        font-style: oblique;
}

#wrong {
        
        font-size: 20px;
        text-align: center;
        height:150px;
        width:80%;
        margin:0 auto;
        font-style: oblique;

}
div.newGame{
    display: flex;
    justify-content: center;
    margin: 100px;

}
img{
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
}
div{
    margin: 0 auto;
    text-align: center;
}